<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->


<html>
    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/artly-css.css' %}" rel="stylesheet">
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <!-- <script src="{% static 'js/artly-jquery.js' %}"></script> -->
        <script src="{% static 'js/artly-ajax.js' %}"></script>
        <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Artly with MVC Radius</title>

        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnfkZ8FnyCfBkLpC6qCPEZpe_wLpT1lmE&sensor=false">
        </script>
        <script type="text/javascript">
            var map;
            var distanceWidget;
            var currentLocation;
            var table;

            var tableHeight = $('#map-canvas').height();

            //var tableHeight = $(document).height();

            //alert(tableHeight + "px");

            function createTable() {

                if(table == null) {
                    /* Make table visible */
                    var list = document.getElementById("example");
                    list.style.visibility = "visible";

                    /* Initialize data table */
                    table = $("#example").dataTable( {
                    "paging": false,
                    "scrollY": tableHeight + "px",
                    "order": [[ 3, "asc" ]],
                    "bInfo": false,
                    "dom": '<"search"f>rt<"clear">',
                    "columns": [
                                { "orderDataType" : "dom-checkbox"},
                                { "orderable": false },
                                { "orderable": false },
                                { "orderable": false },
                                { "orderable": false },
                                { "orderable": false }],
                    "columnDefs": [
                        { "orderable": false, "targets": 0 }
                    ]
                    } );
                }
            }

            $(window).bind('resize', function () {
                map.setCenter(currentLocation);
                $(".dataTables_scrollBody").height($('#map-canvas').height());
                table.fnDraw();
            });

            function init() {
                map = new google.maps.Map(document.getElementById('map-canvas'), {zoom: 12});
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        currentLocation = new google.maps.LatLng(position.coords.latitude,
                                position.coords.longitude);
                        var pos = new google.maps.LatLng(position.coords.latitude,
                                position.coords.longitude);
                        var infowindow = new google.maps.InfoWindow({
                            map: map,
                            position: pos,
                            content: 'Current location.'
                        });
                        map.setCenter(pos);
                        plotWidgets();
                    }, function () {
                        handleNoGeolocation(true);
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleNoGeolocation(false);
                }
                function handleNoGeolocation(errorFlag) {
                    if (errorFlag) {
                        var content = 'Error: The Geolocation service failed.';
                    } else {
                        var content = 'Error: Your browser doesn\'t support geolocation.';
                    }

                    currentLocation = new google.maps.LatLng(49.2508548, -123.1174762);
                    var options = {
                        map: map,
                        position: new google.maps.LatLng(49.2508548, -123.1174762),
                        content: content
                    };
                    var infowindow = new google.maps.InfoWindow(options);
                    map.setCenter(options.position);
                    plotWidgets();
                }
            }

            function distance(lat1, lon1, lat2, lon2) {
                var radlat1 = Math.PI * lat1/180
                var radlat2 = Math.PI * lat2/180
                var radlon1 = Math.PI * lon1/180
                var radlon2 = Math.PI * lon2/180
                var theta = lon1-lon2
                var radtheta = Math.PI * theta/180
                var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                dist = Math.acos(dist)
                dist = dist * 180/Math.PI
                dist = dist * 60 * 1.1515
                dist = dist * 1.609344
                return dist * 1000
            }

            function updateListView(dis){
                var radius = dis * 1000;
                
                //var radius = distanceWidget.get('distance') * 1000;
                
                //alert(radius);
                
                {% for artinstallation in artinstallations %}
                var distan = distance(currentLocation.lat(), currentLocation.lng(), {{artinstallation.lat}}, {{artinstallation.lon}})

				//alert(distance(map.getCenter().lat(), map.getCenter().lng(), {{artinstallation.lat}}, {{artinstallation.lon}}));

                var distan_round = Math.round(distan);
                var distan_string = distan_round.toString()
                $(".distance-{{artinstallation.locationid}}").html(distan_string);
                if (distan > radius) {
                    $('.{{artinstallation.locationid}}').hide();
                }
                else {
    	        	$('.{{artinstallation.locationid}}').show();
        		}
                {% endfor %}

                createTable();
                
            }

            function showAll() {
            	{% for artinstallation in artinstallations %}
    	        	$('.{{artinstallation.locationid}}').show();
                {% endfor %}
            }
            
            function plotWidgets() {
                distanceWidget = new DistanceWidget(map);

                updateCurrentLocation(distanceWidget);

                google.maps.event.addListener(distanceWidget, 'distance_changed', function () {
                    updateCurrentLocation(distanceWidget);
                });
                google.maps.event.addListener(distanceWidget, 'position_changed', function () {
                    updateCurrentLocation(distanceWidget);
                });
                {% for artinstallation in artinstallations %}
                    var marker = new google.maps.Marker({
                        position: {lat: {{ artinstallation.lat }}, lng: {{ artinstallation.lon }}},
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale:3,
                            strokeColor:"#4884AB"},
                        map: map
                    })
                {% endfor %}
                updateListView(50);
            }
            /**
            * A distance widget that will display a circle that can be resized and will
            * provide the radius in km.
            *
            * @param {google.maps.Map} map The map on which to attach the distance widget.
            *
            * @constructor
            */
            function DistanceWidget(map) {
                this.set('map', map);
                this.set('position', map.getCenter());
                var marker = new google.maps.Marker({
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale: 5
                    },
                    draggable: false,
                    title: 'Move me to change your current position'
                });
                // Bind the marker map property to the DistanceWidget map property
                marker.bindTo('map', this);
                // Bind the marker position property to the DistanceWidget position property
                marker.bindTo('position', this);
                // Create a new radius widget
                var radiusWidget = new RadiusWidget();
                // Bind the radiusWidget map to the DistanceWidget map
                radiusWidget.bindTo('map', this);
                // Bind the radiusWidget center to the DistanceWidget position
                radiusWidget.bindTo('center', this, 'position');
                // Bind to the radiusWidgets' distance property
                this.bindTo('distance', radiusWidget);
                // Bind to the radiusWidgets' bounds property
                this.bindTo('bounds', radiusWidget);
                
            }
            /**
             * A radius widget that add a circle to a map and centers on a marker.
             *
             * @constructor
             */
            function RadiusWidget() {
                var circle = new google.maps.Circle({
                    strokeColor: '#7E5CD6',
                    strokeOpacity: 0.4,
                    fillColor: '#7E5CD6',
                    fillOpacity: 0.3,
                    strokeWeight: 2
                });
                // Set the distance property value, default to 0.05 km.
                this.set('distance', 0.05);
                // Bind the RadiusWidget bounds property to the circle bounds property.
                this.bindTo('bounds', circle);
                // Bind the circle center to the RadiusWidget center property
                circle.bindTo('center', this);
                // Bind the circle map to the RadiusWidget map
                circle.bindTo('map', this);
                // Bind the circle radius property to the RadiusWidget radius property
                circle.bindTo('radius', this);
            }
            RadiusWidget.prototype = new google.maps.MVCObject();
            
            /**
 			* Update the radius when the distance has changed.
 			*/
			RadiusWidget.prototype.distance_changed = function() {
  				this.set('radius', this.get('distance') * 1000);
			};
			
            /**
 			* Set the distance of the circle based on the dropdown.
 			*/
            function changeRadius(sel) {
      			//alert("in change radius");
      			updateListView(sel.value);
      			distanceWidget.set('distance', sel.value);
      		}

      		function updateCurrentLocation(widget){
      		    currentLocation = widget.get('position');
      		}
            
            /*
            RadiusWidget.prototype.distance_changed = function() {
                this.set('radius', this.get('distance') * 1000);
            }; // plug in distance from the dropdown box
            */

            DistanceWidget.prototype = new google.maps.MVCObject();
            google.maps.event.addDomListener(window, 'load', init);

            /* Create an array with the values of all the checkboxes in a column */
            $.fn.dataTable.ext.order['dom-checkbox'] = function  ( settings, col ){
                return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                return $('input', td).prop('checked') ? '1' : '0';
                } );
            }

            function sortCheck(){
                var table = $('#example').DataTable();

                table
                    .order( [ 0, 'desc' ], [ 3, 'asc' ] )
                    .draw();
            }
            
            function saveSelected() {
				var selectedCount = 0;
            	{% for artinstallation in artinstallations %}
            		{% if artinstallation.selected %}
            			UserInformation.savedinstallations.add(artinstallation);
            			selectedCount++
            		{% endif %}
            	{% endfor %}
            	alert('Success! ' + selectedCount + ' locations saved.');
            }

        </script>
    </head>
    <body>

        <div class="container">
            <h1>Artly</h1>
            <h4>explore Vancouver through public art</h4><br />
			<div id="radius-dropdown">
            Radius:
            <select name="radiusMenuOption" id="radiusMenuOption" onclick="changeRadius(this)">
        		<option value="none" selected>Everything</option>
        		<option value="1">1 km</option>
        		<option value="2">2 km</option>
        		<option value="3">3 km</option>
        		<option value="4">4 km</option>
        		<option value="5">5 km</option>
        	</select>
        	</div>

            
            <div id="content">
            <button type="button" onclick="saveSelected()">Save Selected Locations</button>
            </div>
            
            {% if artinstallations %}

            <div id="content">
            <div id="map-canvas"></div>
            <div id="datatable">
            <table id="example" class="table table-hover" data-click-to-select="true">
                <thead>
                <tr height="10px" id="check-row">
                        <th width="10%"></th>
                        <th width="10%"><img src="http://orig15.deviantart.net/8047/f/2013/245/d/4/little_pixel_heart_by_kawiku-d6ksnjh.gif"></th>
                        <th width="50%">Name</th>
                        <th width="25%"><center>Distance (m)</center></th>
                        <th width="15%"><center>Info</center></th>
                        <th width="8%"><img src="{% static 'images/Twitter_logo_blue.png' %}" width="20" alt="Tweet"/></th>
                    </tr>
                </thead>
                <tbody>
                {% for artinstallation in artinstallations %}
                    <tr id="check-row" class="{{artinstallation.locationid}}">
                        <td><center><input type="checkbox" id="select" data-installation-name="{{ artinstallation.name }}" /></center></td>
<!--                         if UserInformation.objects.filter(savedinstallations__locationid = artinstallation.locationid) -->
<!--                         	<td><img src="http://orig15.deviantart.net/8047/f/2013/245/d/4/little_pixel_heart_by_kawiku-d6ksnjh.gif"></td> -->
<!--                         else -->
<!--                         	<td></td> -->
<!--                         endif -->
						<td><img src="http://orig15.deviantart.net/8047/f/2013/245/d/4/little_pixel_heart_by_kawiku-d6ksnjh.gif"></td>
                        <td>{{ artinstallation.name }}</td>
                        <td><center class="distance-{{artinstallation.locationid}}"></center></td>
                        <td><a href="{{ artinstallation.url }}" target="_blank" id="no-check"><center> → </center></a></td>
                        <td><a href="{{ artinstallation.twitterurl }}" target="_blank" id="no-check"><center> → </center></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            </div>

            {% else %}
                <strong>There are no installations to present.</strong>
            {% endif %}
        </div>

            <!-- for testing purposes-->
            <div id="selection">
                <span id="installation_name"></span><i> was clicked</i>
            </div>

    </body>
</html>
