<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <link href="{% static 'css/bootstrap-fluid-adj.css'%} " rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css'%} " rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
        <title>Artly</title>
    </head>

    <body>

        <div class="container">
            <h1>Artly</h1>
            <h4>explore Vancouver through public art</h4>

            {% if artinstallations %}
            <table class="table table-hover"
                   data-toggle="table"
                   data-click-to-select="true"
                   data-single-select="true">
                    <tr>
                        <th class="span1">Select</th>
                        <th class="span1">Name</th>
                        <th class="span1">Location</th>
                        <th class="span1">Distance</th>
                        <th class="span1">Info</th>
                    </tr>
                    {% for artinstallation in artinstallations %}
                        <td><input type="checkbox" /></td>
                        <td>{{ artinstallation.name }}</td>
                        <td>
                            <a href="https://www.google.com/maps/preview/@{{ artinstallation.lat }},{{ artinstallation.lon }},15z">
                                {{ artinstallation.lat }}, {{ artinstallation.lon }}
                            </a>
                        </td>
                        <td> 4.5km </td>
                        <td><a href="{{ artinstallation.url }}"> → </a></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/> <a href='/artly/map'>Map</a>
            {% else %}
                <strong>There are no installations to present.</strong>
            {% endif %}
        </div>
    </body>
</html>

<!-- See http://bootstrap-table.wenzhixin.net.cn/examples/
Search for checkbox select -->
