.table td.checkbox,
.table th.checkbox {
    float: none;
    width: 10px;
    margin-left: 0;
    vertical-align: middle;
}

.search {
	float: right;
	position: relative;
	top: 0px;
}

.container {
	padding-top: 20px;
	width: 90%;
	min-width: 1050px;
}

.bar-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#datatable {
	width: 550px;
	padding-left: 0px;
	height: 536px;
	float: right;
	/*overflow: scroll;*/
	position: relative;
	top: -85px;
}

#content {
	width: 100%;
}

#map-canvas {
    float: left;
    height: calc(100vh - 300px); /*readjusts based on screen size*/
	width: calc(100% - 575px); /*readjusts based on screen size*/
}

#radius-dropdown {
	float: right;
}

#radiusMenuOption {
	width: 100px;
}

#selection {
    height: 0x;
    width: 700px;
    float: middle;
}

#header {
	padding-left: 40px;
}

#fav-butt {
	float: right;
}

#example {
	visibility: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

#logo {
    font-family: 'Rock Salt', cursive;
    width: 100%;
}

th {
	font-size: 1.2em;
}

#lower-bar {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	height: 30px;
	background-color: #DDDDDD;
}

#space {
	height: 20px;
	width: 100%;
}

#upper-bar {
	height: 100px;
	width: 100%;
}

#upper-left {
	height: 100%;
	width: calc(100% - 575px);
	float: left;
}

#artly-title {
	float: left;
}

h1 {
	float: left;
	clear: both;
}

h4 {
	float: left;
}