.table td.checkbox,
.table th.checkbox {
    float: none;
    width: 10px;
    margin-left: 0;
    vertical-align: middle;
}

.search {
	float: right;
	padding-left: 50px;
	position: relative;
	top: 5px;
}

.container {
	padding-top: 0px;
	width: 95%;
	min-width: 1150px;
}

#bar-container {
	height: 30px;
}

#right {
	padding-top: 5px;
	visibility: hidden;
}

#datatable {
	width: 550px;
	float: right;
	position: relative;
	top: 3px;
	padding-bottom: 25px;
}

#content {
	width: 100%;
}

#map-canvas {
    height: calc(100vh - 200px); /*readjusts based on screen size*/
    min-height: 300px;
    max-width: none;
}

#radius-dropdown {
	padding-left: 10px;
}

#radiusMenuOption {
	width: 100px;
}

#selection {
    height: 0x;
    width: 700px;
    float: middle;
}

#fav-butt {
	float: right;
}

#un-fav-butt {
	float: right;
}

#un-fav-div {
}

#fav-div {
}

#denzel-butt {
	float: left;
}

#denzel-div {
}

#denzel-space {
	float: left;
	width: 38px;
	height: 30px;
}

#fav-space {
	float: right;
	width: 10px;
	height: 30px;
}

* {
    font-family: 'Roboto', sans-serif;
}

#artly {
    font-family: 'Rock Salt', cursive;
    width: 100%;
}

#lower-bar {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 50px;
	width: 100%;
	background-color: #DDDDDD;
}

#space {
	height: 30px;
	width: 100%;
}

#upper-bar {
	height: 100px;
	width: 100%;
}

#left {
	padding-top: 30px;
	padding-bottom: 25px;
	width: calc(100% - 550px);
	float: left;
}

h1 {
	float: left;
}

#check-column {
	visibility: hidden;
}

ul
{
    list-style-type: none;
}

#login {
	float: right;
}

#subtitle {
	font-size: 1.2em;
}

#map-controls {
	float: right;
}

#logo {
	float: left;
	width: 50%;
}

#space1 {
	height: 60px;
}

#space2 {
	height: 10px;
}

.glyphicon {
	padding-right: 2px;
	font-size: 0.9em;
}

#bottom-bar {
    display: block;
    width: 100%;
    height: 70px;
    z-index: -1;
    position: absolute;
    top: calc(100vh - 70px);
    background-color: #F0F0F0;
    border-top-style: solid;
    border-top-color: white;
}

#top-bar {
    display: block;
    width: 100%;
    height: 130px;
    z-index: -1;
    top: 0px;
    position: absolute;
    background-color: #F0F0F0;
    border-bottom-style: solid;
    border-bottom-color: white;
}

table th {
    border-bottom: none !important;
}

.table th, .table td {
     border-top: none !important;
}

#counts-space {
	float: left;
	width: 60px;
	height: 30px;
}

#count-div {
	top: 0px;
	width: 150px;
	float: left;
}

#count-space-above {
	width: 150px;
	height: 7px;
}

#stebo-logo {
    display: block;
    width: 250px;
    height: 80px;
    z-index: 0;
    top: 20px;
    left: 15px;
    position: absolute;
}