#datatable {
	max-width: 45%;
	float: left;
	padding-left: 5%;
	height: 500px;
	overflow: scroll;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

#content {
	width: 100%;
	padding-top: 1%;
}

.container {
	width: 95%;
}

#header {
	padding-left: 40px;
}